/* Sidebar Styling */
.sidebar {
  height: 100vh; /* Full height */
  position: fixed;
  background-color: #343a40;
  width: 220px; /* Fixed sidebar width */
  top: 0;
  left: 0;
  z-index: 1000; /* Keeps sidebar on top */
}


.sidebar a {
  color: #fff;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 16px;
  margin-top: 40px;
  padding-top: 80px;
}

.sidebar a:hover {
  background-color: #495057;
}

/*sidebar */
.custom-heading {
  margin-top: 12px;
  margin-bottom: 20px;
}

/* Navbar */
.navbar {
  height: 60px;
  width: calc(100% - 198px); /* Ensure width adjusts based on sidebar width */
  background-color: #343a40;
  color: #fff;
  display: flex;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 198px; /* Offset to accommodate sidebar width */
  z-index: 1000;
}

.navbar a {
  color: #fff;
  margin-left: 15px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ccc;
}

/* Content Area */
.content {
  margin-left: 220px; /* Offset for the sidebar */
  padding-top: 80px;  /* Offset for the navbar */
  padding-left: 20px;
  padding-right: 20px;
}
/* App.css */

/* Background color for Cards */
.custom-card-1 {
  background-color: #20b2aa; /* Light grey background */
  border: 1px solid #dee2e6; /* Light border */
}
.custom-card-2 {
  background-color: #dfbd00; /* Light grey background */
  border: 1px solid #dee2e6; /* Light border */
}
.custom-card-3 {
  background-color: #b53131; /* Light grey background */
  border: 1px solid #dee2e6; /* Light border */
}
.custom-card-4 {
  background-color: #89be00; 
  border: 1px solid #dee2e6; 
}


.card-title {
  font-size: 15px; /* Font size for the Card Title */
  color: #fff; /* Maintain the white text for readability */
  font-weight: bold; /* Make it bold for emphasis */
}

.card-text {
  font-size: 15px; /* Font size for the Card Text */
  color: #fff; /* Maintain consistent color with the title */
  font-weight: normal; /* Keep normal weight for distinction */
}


@media (min-width: 768px) {
  .offset-md-2 {
      margin-left: 10.66666667%;
  }
}


/*Manage Customer css*/
.btn1{
  color: rgb(7, 35, 250);
  border: none;
}

.btn1:hover{
  color: rgb(2, 13, 94); 
}

.btn2{
  
  color: rgb(251, 7, 7);
  margin-left: 5px;
  border: none;
}

.btn2:hover{
  color: rgb(156, 6, 6);
}

.cus-icon{
  color: #0b4383;
  margin-right: 10px;
  width: 20px;
  height: 25px;
  margin-top: 20px;
}

h3{
  color: #062ea7;
  font-size: 18px;
  font-weight: bold;
  margin-top: -15px;
}

td text-center{
  color: #e10909;
}

h4{
  color: #1208ab;
  font-size: 18px;
  
}

.form-label1{
  font-weight: bold;
}


.edit-title {
  display: flex;
  align-items: center; 
  gap: 8px;
  font-weight: bold; 
  color: #0b4383;
}

/*Add Customer css*/
.addCus{
  color: #0b4383;
  margin-right: 10px;
}

.addCusTitle{
  color: #0b4383;
  font-size: 18px;
  font-weight: bold;
  
}

.cus-icon {
  font-size: 18px;
  color: #043870;
  margin-bottom: 20px;
}



