body {
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
  align-items: center;
}

/* Catalog Container */

.cat-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem 1rem;
}

.cat-col {
  flex: 0 0 calc(100% / 6 - 10px); /* Divides evenly among 7 cards */
}

/* Tabs for Categories */
.cat-nav-tabs {
  justify-content: center;
  border-bottom: none;
  gap: 8px;
}

.cat-nav-tabs .cat-nav-link {
  background-color: #fff;
  color: #333;
  font-weight: 700;
  font-size: 13px;
  padding: 0.6rem 1.3rem;
  border-radius: 12px;
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.cat-nav-tabs .cat-nav-link:hover {
  background-color: #f0f0f0;
  color: #000;
}

.cat-nav-tabs .cat-nav-link.active {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}
.cat-search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat-search {
  flex: 1;
  max-width: 350px; /* Keeps the search bar width in check */
}
.btn-xs  {
  font-size: 0.7rem; /* Smaller size */
  padding: 0.3rem 0.6rem;
  border-radius: 6px; /* Compact styling */
  border-color: #646464;
  color: #333;
  background-color: #fff;
}

.btn-xs:hover {
  background-color: #f0f0f0;
  color: #000;
}

.btn-custom-all {
  background-color: #ffcc00; /* Yellow */
  color: #fff;
  border-color: #ffcc00;
}

.btn-custom-in {
  background-color: #28a745; /* Green */
  color: #fff;
  border-color: #28a745;
}

.btn-custom-out {
  background-color: #dc3545; /* Red */
  color: #fff;
  border-color: #dc3545;
}



/* Product Card Grid */
.cat-card {
  width: 100%; /* Auto-adjust width */
  border-radius: 12px;
  overflow: hidden;
  align-items: center;
  transition: transform 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-top: 10px;
  margin-left: 30px;
}

.cat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
}

.cat-card-img-top {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.cat-card-body {
  padding: 0.5rem;
}
.cat-card-title {
  color: #000000;
}
.cat-card-text {
  color: #444444;
}

.cat-card-title,
.cat-card-text {
  font-size: 0.75rem;
  margin: 0.3rem 0;
  text-align: left;
}

/* Responsive Tweak */
@media (max-width: 768px) {
  .cat-col {
    flex: 0 0 calc(100% / 2 - 10px); /* Adjust to 2 cards per row */
  }
}

@media (max-width: 576px) {
  .cat-col {
    flex: 0 0 calc(100% / 1 - 10px); /* Single card per row */
  }
}
